  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=PT+Serif:wght@400;700&family=Roboto:wght@300;400;500;900&family=Yeseva+One&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  width: 100%;
  height: 100%;
}

.navigation {
  width: 30vw;
  height: 100vh;
  background: #181818;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  min-width: 250px;
  display: none;
  color: white;
}
.navigation__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 200px;
}
.navigation__button {
  background: none;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.navigation__button_img {
  width: 28px;
}
.navigation__list {
  list-style: none;
  margin: 0;
  padding-left: 15px;
}
.navigation__list_item {
  margin-top: 40px;
}
.navigation__list_link:hover {
  color: #ffc700;
}
.navigation__list_link {
  width: 100%;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto";
  cursor: pointer;
}

.header {
  background: #181818;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
}
.header__btn {
  background: none;
  border: none;
  margin: 15px;
  cursor: pointer;
}
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffc700;
  margin: 0 auto;
}
.header__logo {
  height: 100%;
  margin-right: 15px;
}
.header__text {
  text-transform: uppercase;
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 14px;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 400px) {
  .header__container {
    margin: 0;
  }
  .header__text {
    margin-left: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin-left: 15px;
  }
}
